﻿@using Gestao_Financeira.Models
@using PagedList.Mvc
@model PagedList.PagedList<Categoria>
@{
    var paginaAtual = (int)TempData["Pagina"];
}

<div class="table-responsive">
    @if (Model != null && Model.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        <b>Nome</b>
                    </th>
                    <th>
                        <b>Ativo</b>
                    </th>
                    <th>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var categoria in Model)
                {
                    <tr>
                        
                        <td>
                            @Html.DisplayFor(modelItem => categoria.Nome)
                        </td>
                        <td>
                            @if (categoria.Ativo == true)
                            {

                                <span class="badge badge-pill badge-success">Sim</span>
                            }
                            else
                            {
                                <span class="badge badge-pill badge-danger">Não</span>
                            }
                        </td>
                        <td>
                            @if (categoria.Ativo == true)
                            {
                                <button type="button" id="btn-ativo" data-ativo="@Url.Action("Ativo", "Categoria", new { categoriaId = categoria.CategoriaId })" class="btn btn-default btn-fab btn-round mr-2" data-toggle="tooltip" title="Desativar">
                                    <i class="material-icons">not_interested</i>
                                </button>
                            }
                            else
                            {
                                <button type="button" id="btn-ativo" data-ativo="@Url.Action("Ativo", "Categoria", new { categoriaId = categoria.CategoriaId })" class="btn btn-default btn-fab btn-round mr-2" data-toggle="tooltip" title="Ativar">
                                    <i class="material-icons">check_circle_outline</i>
                                </button>
                            }
                            <button type="button" id="btn-atualizar" data-abrirmodal="@Url.Action("AbrirModalAtualizar", "Categoria", new { categoriaId = categoria.CategoriaId })" class="btn btn-default btn-fab btn-round mr-2 btn-abrirModal" data-toggle="tooltip" title="Atualizar">
                                <i class="material-icons">create</i>
                            </button>
                            <button type="button" id="btn-excluir" data-abrirmodal="@Url.Action("AbrirModalExcluir", "Categoria", new { categoriaId = categoria.CategoriaId })" class="btn btn-default btn-fab btn-round btn-abrirModal" data-toggle="tooltip" title="Excluir">
                                <i class="material-icons">clear</i>
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div class="text-center">
            <h3>Nenhuma Informação Encontrada!</h3>
        </div>
    }
    <div class="row">
        <div class="col-12 mt-5">
            <div id="pageLink" class=" float-right" data-paginaatual="@paginaAtual" style="margin-top:-20px !important;">
                @Html.PagedListPager(Model, pagina => Url.Action("BuscarCategoria", "Categoria", new { pagina = pagina }), new PagedListRenderOptions { LinkToPreviousPageFormat = "«", LinkToNextPageFormat = "»" })
            </div>
        </div>
    </div>
</div>