﻿@using Gestao_Financeira.Models
@model PagedList.PagedList<Financeiro>

@if (Model != null && Model.Any())
{
    foreach (var financeiro in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => financeiro.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => financeiro.Categoria.Nome)
            </td>
            <td>
                @if (financeiro.TipoFinanceiro == TipoFinanceiro.Entrada)
                {
                    <span class="badge badge-pill badge-success">Entrada</span>
                }
                else
                {
                    <span class="badge badge-pill badge-danger">Saída</span>
                }
            </td>
            <td class="data">
                @Html.DisplayFor(modelItem => financeiro.DataLancamento)
            </td>
            <td class="money">
                @Html.DisplayFor(modelItem => financeiro.Valor)
            </td>
            <td>
                <button type="button" id="btn-atualizar" data-abrirmodal="@Url.Action("AbrirModalAtualizar", "Financeiro", new { financeiroId = financeiro.FinanceiroId })" class="btn btn-default btn-fab btn-round mr-2 btn-abrirModal" data-toggle="tooltip" title="Atualizar">
                    <i class="material-icons">create</i>
                </button>
                <button type="button" id="btn-detalhes" data-abrirmodal="@Url.Action("AbrirModalDetalhes", "Financeiro", new { financeiroId = financeiro.FinanceiroId })" class="btn btn-default btn-fab btn-round btn-abrirModal" data-toggle="tooltip" data-placement="top" title="Detalhes">
                    <i class="material-icons">list</i>
                </button>
            </td>
        </tr>
    }
}
