﻿@{
    ViewBag.Title = "index";
}

<div class="col-md-12">
    <div class="card">
        <div class="card-header card-header-info">
            <h3 class="card-title mt-0">
                Categorias <b>
                    <a href="javascript:;" class="btn-abrirModal" data-abrirmodal="@Url.Action("AbrirModalAdicionar", "Categoria", new { area = "User"})" style="float: right; font-size: 17px;" data-toggle="Adicionar" title="Adicionar">
                        <i class="material-icons fa-2x">add</i>
                    </a>
                </b>
            </h3>
        </div>
        <div class="card-body">
            <input class="form-control col-6 float-right" id="input-pesquisa" placeholder="Pesquisar por nome" />
            <div class="carregar-itens mt-5" data-url="@Url.Action("BuscarCategoria", "Categoria", new { area = "User" })">
                @Html.Partial("_PartialTabela")
            </div>
        </div>
    </div>
</div>

<div class="modal fade abrir-modal"></div>

@section scripts{
    @Scripts.Render("~/bundles/carregar-modal")
    @Scripts.Render("~/bundles/evento-ativo")
    @Scripts.Render("~/bundles/buscar-paginacao")
}
