﻿@model IEnumerable<Gestao_Financeira.Models.Financeiro>
@using Gestao_Financeira.Models
@{
    var entrada = Model.Where(x => x.TipoFinanceiro == TipoFinanceiro.Entrada).Sum(x => x.Valor);
    var saida = Model.Where(x => x.TipoFinanceiro == TipoFinanceiro.Saida).Sum(x => x.Valor);
    var saldo = entrada - saida;
}

<div class="col-md-4 pr-0">
    <div class="card card-stats mb-2 mt-3">
        <div class="card-header card-header-success card-header-icon">
            <div class="card-icon">
                <i class="material-icons">attach_money</i>
            </div>
            <p class="card-category">Entrada</p>
            <h4 class="card-title money">@entrada</h4>
        </div>
    </div>
</div>
<div class="col-md-4 pr-0">
    <div class="card card-stats mb-2 mt-3">
        <div class="card-header card-header-info card-header-icon">
            <div class="card-icon">
                <i class="material-icons">attach_money</i>
            </div>
            <p class="card-category">Saldo</p>
            @if (saldo < 0)
            {
                <h4 class="card-title" style="color: #fd7d7d">-<b class="money">@saldo</b></h4>
            }
            else
            {
                <h4 class="card-title money">@saldo</h4>
            }
        </div>
    </div>
</div>
<div class="col-md-4 pr-0">
    <div class="card card-stats pr-0 mb-2 mt-3">
        <div class="card-header card-header-danger card-header-icon">
            <div class="card-icon">
                <i class="material-icons">attach_money</i>
            </div>
            <p class="card-category">Saída</p>
            <h4 class="card-title money">@saida</h4>
        </div>
    </div>
</div>