﻿@using Gestao_Financeira.Utils
@model IEnumerable<Gestao_Financeira.Models.Financeiro>

@{
    ViewBag.Title = "Index";
    var mesAtual = DateTime.Now.Month;
}
<div class="col-md-12">
    <div class="float-right">
        <b id="ano-d">Ano: </b>
        <select class="form-control text-center anodefinido" id="KeyAno">
            <option value="" disabled selected hidden>@DateTime.UtcNow.Year</option>
            @foreach (var item in (SelectList)ViewBag.SelectAnos)
            {
                <option value="@item.Value">@item.Text</option>
            }
        </select>
    </div>
    <div class="float-right mr-3">
        <b id="mes-d">Mês: </b>
        <select class="form-control text-center mesdefinido" id="KeyMes">
            <option value="" disabled selected hidden>@DateTime.UtcNow.Month.GetSelectMonth()</option>
            <option value="1">Jan</option>
            <option value="2">Fev</option>
            <option value="3">Mar</option>
            <option value="4">Abr</option>
            <option value="5">Mai</option>
            <option value="6">Jun</option>
            <option value="7">Jul</option>
            <option value="8">Ago</option>
            <option value="9">Set</option>
            <option value="10">Out</option>
            <option value="11">Nov</option>
            <option value="12">Dez</option>
        </select>
    </div>
</div>
<div class="col-md-12 pr-0 pl-0">
    <div class="row pr-3 pl-3" id="div-painel" data-url="@Url.Action("CarregarPainelPorAno", "Dashboard", new { area = "User"})">
        @Html.Partial("_Painel", Model)
    </div>
</div>
<div class="col-md-6 pr-0">
    <div class="mb-2 grafico" id="graficogeralporano" data-anoinicio="@ViewBag.DataInicial" data-url="@Url.Action("GraficoGeralPorAno", "Dashboard", new { area = "User"})"></div>
</div>
<div class="col-md-6 pr-0">
    <div class="mb-2 grafico" id="graficogeralpormes" data-url="@Url.Action("GraficoGeralPorMes", "Dashboard", new { area = "User"})"></div>
</div>
<div class="col-md-6 pr-0">
    <div class="mb-2 grafico-pizza" id="graficopizzaentrada" data-mes="@mesAtual" data-url="@Url.Action("GraficoPizzaEntrada", "Dashboard", new { area = "User"})"></div>
</div>
<div class="col-md-6 pr-0">
    <div class="grafico-pizza" id="graficopizzasaida" data-mes="@mesAtual" data-url="@Url.Action("GraficoPizzaSaida", "Dashboard", new { area = "User"})"></div>
</div>

@section scripts{
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/series-label.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>

    @Scripts.Render("~/bundles/grafico-geral-por-ano")
    @Scripts.Render("~/bundles/grafico-geral-por-mes")
    @Scripts.Render("~/bundles/grafico-pizza-entrada")
    @Scripts.Render("~/bundles/grafico-pizza-saida")
    @Scripts.Render("~/bundles/select-ano-definido")
    @Scripts.Render("~/bundles/select-mes-definido")
}