﻿@using Gestao_Financeira.Models
@using PagedList.Mvc
@model PagedList.PagedList<Financeiro>
@{
    var paginaAtual = (int)TempData["Pagina"];
}

<div class="table-responsive">
    @if (Model != null && Model.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Descrição</th>
                    <th>Categoria</th>
                    <th>Tipo</th>
                    <th>Data</th>
                    <th>Valor</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var financeiro in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => financeiro.Descricao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => financeiro.Categoria.Nome)
                    </td>
                    <td>
                        @if (financeiro.TipoFinanceiro == TipoFinanceiro.Entrada)
                        {
                        <span class="badge badge-pill badge-success">Entrada</span>
                        }
                        else
                        {
                            <span class="badge badge-pill badge-danger">Saída</span>
                        }
                    </td>
                    <td class="data">
                        @financeiro.DataLancamento.ToString("dd/MM/yyyy")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => financeiro.ValorFormat)
                    </td>
                    <td>
                        <button type="button" id="btn-atualizar" data-abrirmodal="@Url.Action("AbrirModalAtualizar", "Financeiro", new { financeiroId = financeiro.FinanceiroId })" class="btn btn-default btn-fab btn-round mr-2 btn-abrirModal" data-toggle="tooltip" title="Atualizar">
                            <i class="material-icons">create</i>
                        </button>
                        <button type="button" id="btn-detalhes" data-abrirmodal="@Url.Action("AbrirModalDetalhes", "Financeiro", new { financeiroId = financeiro.FinanceiroId })" class="btn btn-default btn-fab btn-round btn-abrirModal" data-toggle="tooltip" data-placement="top" title="Detalhes">
                            <i class="material-icons">list</i>
                        </button>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div class="text-center">
            <h3>Nenhuma Informação Encontrada!</h3>
        </div>
    }
    <div class="row">
        <div class="col-12 mt-3">
            <div id="pageLink" class="float-right" data-paginaatual="@paginaAtual" style="margin-top:-20px !important;">
                @Html.PagedListPager(Model, pagina => Url.Action("BuscarFinanceiro", "Financeiro", new { area = "User", pagina = pagina }), new PagedListRenderOptions { LinkToPreviousPageFormat = "«", LinkToNextPageFormat = "»" })
            </div>
        </div>
    </div>
</div>