﻿@{
    ViewBag.Title = "index";
}

<div class="col-md-12">
    <div class="card">
        <div class="card-header card-header-info">
            <h3 class="card-title mt-0">
                Usuários <b>
                    <a href="javascript:;" class="btn-abrirModal" data-abrirmodal="@Url.Action("AbrirModalAdicionar", "Usuario", new { area = "Admin"})" style="float: right; font-size: 17px;" data-toggle="Adicionar" title="Adicionar">
                        <i class="material-icons fa-2x">add</i>
                    </a>
                </b>
            </h3>
        </div>
        <div class="card-body carregar-itens" data-url="@Url.Action("BuscarUsuario", "Usuario", new { area = "Admin" })">
            @Html.Partial("_PartialTabela")
        </div>
    </div>
</div>

<div class="modal fade abrir-modal"></div>

@section scripts{
    @Scripts.Render("~/bundles/carregar-modal")
    @Scripts.Render("~/bundles/evento-ativo")
    @Scripts.Render("~/bundles/buscar-paginacao")
    <script>
        $(document).ready(function () {
            $(document).on("keyup", "#confirmacaosenha", function () {
                var senha = $("#Senha").val();
                var confirmacaosenha = $("#confirmacaosenha").val();
                if (senha === confirmacaosenha) {
                    $(".msg").empty();
                    $(".btn-cadastrarlogin").removeAttr("disabled");
                }
                else {
                    $(".btn-cadastrarlogin").attr("disabled", "disabled");
                    $(".msg").html("<p style='color:red;'>As senhas são diferentes</p>");
                }
            });
        });
    </script>
}
