﻿<div class="logo">
    <a href="@Url.Action("Index", "Dashboard", new{ area = "User"})" class="simple-text logo-normal">
        MENU
    </a>
</div>
<div class="sidebar-wrapper">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Index", "Dashboard", new{ area = "User"})">
                <i class="material-icons">dashboard</i>
                <p>Home</p>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Index", "Financeiro", new{ area = "User"})">
                <i class="material-icons">attach_money</i>
                <p>Financeiro</p>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Index", "Categoria", new{ area = "User"})">
                <i class="material-icons">category</i>
                <p>Categoria</p>
            </a>
        </li>
    </ul>
</div>

