﻿<div class="logo">
    <a href="@Url.Action("Index", "Dashboard", new{ area = "Admin"})" class="simple-text logo-normal">
        MENU
    </a>
</div>
<div class="sidebar-wrapper">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Index", "Dashboard", new{ area = "Admin"})">
                <i class="material-icons">dashboard</i>
                <p>Home</p>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Index", "Usuario", new{ area = "Admin"})">
                <i class="material-icons">person</i>
                <p>Usuário</p>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Index", "Categoria", new{ area = "Admin"})">
                <i class="material-icons">person</i>
                <p>Categoria</p>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Index", "Log", new{ area = "Admin"})">
                <i class="material-icons">person</i>
                <p>Log</p>
            </a>
        </li>
    </ul>
</div>
