﻿@model Gestao_Financeira.Models.Financeiro

<div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="TituloModalCentralizado">Adicionar Financeiro</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            @using (Html.BeginForm("Adicionar", "Financeiro", FormMethod.Post, new { }))
            {
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="bmd-label-floating">Descrição</label>
                            @Html.TextBoxFor(x => x.Descricao, new { @class = "form-control", required = "required" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="bmd-label-floating">Tipo do Financeiro</label>
                            @Html.EnumDropDownListFor(x => x.TipoFinanceiro, new { @class = "form-control", required = "required" })
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="bmd-label-floating">Data Lançamento</label>
                            @Html.TextBoxFor(x => x.DataLancamento, new { @class = "form-control", @type = "date", @Value = DateTime.UtcNow.ToString("yyy-MM-dd"), required = "required" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="bmd-label-floating">Categoria</label>
                            <div class="input-group">
                                @Html.DropDownListFor(model => model.CategoriaId, (SelectList)ViewBag.Categorias, "", new { @class = "form-control" })
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-fab btn-round btn-info btn-sm" id="add-categoria" data-url="@Url.Action("AdicionarPorFinanceiro", "Categoria", new { area = "User" })">
                                        <i class="material-icons">add</i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="bmd-label-floating">Valor</label>
                            <input type="text" name="valor" id="valor" class="form-control" required />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    <button type="submit" class="btn btn-info">Salvar</button>
                </div>
            }
        </div>
    </div>
</div>
