﻿@model Gestao_Financeira.Models.Financeiro

<div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="TituloModalCentralizado">Detalhes Financeiro</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="bmd-label-floating">Descrição</label>
                        @Html.TextBoxFor(x => x.Descricao, new { @class = "form-control", disabled = "disabled" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="bmd-label-floating">Tipo do Financeiro</label>
                        @Html.TextBoxFor(x => x.TipoFinanceiro, new { @class = "form-control", disabled = "disabled" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="bmd-label-floating">Data Lançamento</label>
                        @Html.TextBoxFor(x => x.DataLancamento, new { @class = "form-control data", disabled = "disabled" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="bmd-label-floating">Categoria</label>
                        @Html.TextBoxFor(model => model.Categoria.Nome, new { @class = "form-control", disabled = "disabled" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="bmd-label-floating">Valor</label>
                        @Html.TextBoxFor(x => x.Valor, new { @class = "form-control money", disabled = "disabled" })
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>