﻿@{
    ViewBag.Title = "index";
}

    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-info">
                <h3 class="card-title mt-0">
                    Financeiros <b>
                        <a href="javascript:;" class="btn-abrirModal" data-abrirmodal="@Url.Action("AbrirModalAdicionar", "Financeiro", new { area = "User"})" style="float: right; font-size: 17px;" data-toggle="Adicionar" title="Adicionar">
                            <i class="material-icons fa-2x">add</i>
                        </a>
                    </b>
                </h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <input class="form-control float-right" id="input-pesquisa" placeholder="Pesquisar por descrição" />
                    </div>
                    <div class="input-group col-md-3">
                        <select class="form-control" id="fin-cate" required>
                            <option value="" selected>Pesquisar por Categoria</option>
                            @foreach (var item in (SelectList)ViewBag.Categorias)
                            {
                                <option value="@item.Value">@item.Text</option>
                            }
                        </select>
                        <i class="material-icons select-tabela">arrow_drop_down</i>
                    </div>
                    <div class="input-group col-md-2">
                        <select class="form-control" id="fin-tipo" required>
                            <option value="" selected>Pesquisar por tipo</option>
                            <option value="1">Entrada</option>
                            <option value="2">Saída</option>
                        </select>
                        <i class="material-icons select-tabela">arrow_drop_down</i>
                    </div>
                    <div class="input-group col-md-2">
                        <select class="form-control" id="fin-data" required>
                            <option value="" selected>Pesquisar por Mês</option>
                            <option value="1">Janeiro</option>
                            <option value="2">Fevereiro</option>
                            <option value="3">Março</option>
                            <option value="4">Abril</option>
                            <option value="5">Maio</option>
                            <option value="6">Junho</option>
                            <option value="7">Julho</option>
                            <option value="8">Agosto</option>
                            <option value="9">Setembro</option>
                            <option value="10">Outubro</option>
                            <option value="11">Novembro</option>
                            <option value="12">Dezembro</option>
                        </select>
                        <i class="material-icons select-tabela">arrow_drop_down</i>
                    </div>
                    <div class="input-group col-md-1">
                        <select class="form-control" id="fin-ano" required data-ano="@DateTime.UtcNow.Year">
                            <option value="" disabled selected hidden>@DateTime.UtcNow.Year</option>
                            @foreach (var item in (SelectList)ViewBag.SelectAnos)
                            {
                                <option value="@item.Value">@item.Text</option>
                            }
                        </select>
                        <i class="material-icons select-tabela">arrow_drop_down</i>
                    </div>
                </div>
                <div class="carregar-itens mt-5" data-url="@Url.Action("BuscarFinanceiro", "Financeiro", new { area = "User" })">
                    @Html.Partial("_PartialTabela")
                </div>
            </div>
        </div>
    </div>

<div class="modal fade abrir-modal"></div>

@section scripts{
    @Scripts.Render("~/bundles/carregar-modal")
    @Scripts.Render("~/bundles/evento-ativo")
    @Scripts.Render("~/bundles/filtro-financeiro")

<script>
    $(document).on("click", "#add-categoria", function () {

        swal.fire({
            title: 'Adicionar categoria',
            input: 'text',
            inputPlaceholder: 'Digite o nome da categoria',
            showCancelButton: true,
            confirmButtonText: 'Salvar',
            inputValidator: (value) => {
                if (!value) {
                    return 'Nome da categoria é obrigatório'
                }
            }
        }).then((data) => {
            if (data.value !== undefined && data.value !== "") {
                $(".modal-content").LoadingOverlay("show");
                var url = $("#add-categoria").data("url");
                $.ajax({
                    url: url,
                    data: { nome: data.value },
                    success: function (result) {
                        $("#CategoriaId").empty();
                        $("#CategoriaId").append("<option value></option>");
                        $("#CategoriaId").append(result);
                        Lobibox.notify('success', { position: 'top right', sound: '', delay: 3000, msg: 'Categoria cadastrada com sucesso', title: 'Sucesso', icon: 'smile icon' });
                        $(".modal-content").LoadingOverlay("hide");
                    },
                    error: function () {
                        swal.fire('Erro ao cadastrar categoria');
                        $(".modal-content").LoadingOverlay("hide");
                    }
                });
            }
        });




    });
</script>
}
