﻿@using Gestao_Financeira.Utils
@{
    string tipo = Account.Roles == "Usuario" ? "User" : "Admin";
}
<nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
    <div class="container-fluid">
        <div class="navbar-wrapper">
            <a class="navbar-brand" href="javascript:;">Gestão Financeira<div class="ripple-container"></div></a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link-user" href="javascript:;" id="navbarDropdownProfile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="material-icons">person</i>
                        <b class="">
                            @User.Identity.Name
                        </b>
                        <div class="ripple-container"></div>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right navbar-form" aria-labelledby="navbarDropdownProfile">
                        <a class="dropdown-item" href="@Url.Action("AlterarDados","Configuracao", new { area = tipo})">Alterar Dados</a>
                        <a class="dropdown-item" href="@Url.Action("Logout","Home", new { area = ""})">Sair</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>