﻿@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="modal abrir-modal"></div>

@section scripts{
    @Scripts.Render("~/bundles/carregar-modal")
    <script>
        $(document).ready(function () {
            $(document).on("keyup", "#confirmacaosenha", function () {
                var senha = $(".cadastrar#Senha").val();
                var confirmacaosenha = $("#confirmacaosenha").val();
                if (senha === confirmacaosenha) {
                    $(".msg").empty();
                    $(".btn-cadastrarlogin").removeAttr("disabled");
                }
                else {
                    $(".btn-cadastrarlogin").attr("disabled", "disabled");
                    $(".msg").html("<p style='color:red;'>As senhas são diferentes</p>");
                }
            });
            $(document).on("click", "button[type = 'submit']", function () {
                $(".modal").LoadingOverlay("show");
            });
        });
    </script>
}
