﻿<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta http-equiv="content-security-policy|content-type|default-style|refresh">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Eloenay Pereira">
    <title>Gestão Financeira</title>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    @Styles.Render("~/Content/layout-interno")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("styles", required: false)
    @Styles.Render("~/Content/lobibox")
    @Styles.Render("~/Content/sweetalert2")
</head>
<body>
    <div class="wrapper">
        <div class="sidebar" data-color="azure" data-background-color="white" data-image="#">
            @RenderSection("Menu", true)
        </div>
        <div class="main-panel">
            @Html.Partial("_MenuTopoInterno")
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/layout-interno")
    @Scripts.Render("~/bundles/lobibox")
    @Scripts.Render("~/bundles/sweetalert2")
    @Scripts.Render("~/bundles/mask")
    @Scripts.Render("~/bundles/loading")

    @RenderSection("scripts", required: false)
    @Html.Partial("_Toastr")
    <script>
        $(document).ready(function () {
            $(document).on("click", "button[type = 'submit']", function () {
                $("body").LoadingOverlay("show");
            });
            $(document).on("click", "a.nav-link", function () {
                $("body").LoadingOverlay("show");
            });
            $(document).on("click", ".btn-abrirModal", function () {
                $("body").LoadingOverlay("show");
            });
            $(document).on("click", ".dropdown-item", function () {
                $("body").LoadingOverlay("show");
            });
        });
    </script>
</body>
</html>
