﻿<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta http-equiv="content-security-policy|content-type|default-style|refresh">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Eloenay Pereira">
    <title>Gestão Financeira</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    @Styles.Render("~/Content/layout-externo")
    @Styles.Render("~/Content/lobibox")
</head>
<body>
    @Html.Partial("_MenuTopoExterno")

    <main class="py-4 main">
        @RenderBody()
    </main>

    @Scripts.Render("~/bundles/layout-externo")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/lobibox")
    @Scripts.Render("~/bundles/loading")
    @RenderSection("scripts", required: false)
    @Html.Partial("_Toastr")
</body>
</html>
